Subject: Post-Patching Report for {{ inventory_hostname }}

Hello,

The non-critical patching process for {{ inventory_hostname }} has completed.

provided the report file attched to the message

regards
patching automation system
